# An initial configuration of the dsa-fs.rar and dsa-sftp applications.
# Copy this file as "config.properties" and adjust the values as needed.

# for dsa-fs.rar
config.roots=/
config.redundancy=1

# for dsa-sftp.rar
config.host=an1-pz1.storage.pionier.net.pl
config.port=22
config.publicKeyType=ssh-rsa
config.publicKey=AAAAB3NzaC1yc2EAAAABIwAAAQEAwDA7u46rnyecTIZqwTfMLa65EnX26iVU1PG8LB/UuY6ybjkg1njzx+/YvG0eTQA3OLnmYC9Xda6690krAHQGIlsr5l2AQ/JH6NcL5Rf4c7AWTw9ZYNUMwJB4V/UDt05J6Rg1KXVxOOXSb8P8+ZITmflnUlIDZZURGJMyVJt1HD8nvQP/cUJD01BHsUhL2Q+rYub8/4Bx9Xawvl4NzmzEXuy6CiDpCLtcCTi8MLqiFhjbEH8h/61ea/rlCvgYZar0PpZmeDiARAOpsASp0VD3+bCwqS4oagoznXMuBFQ5M/1DhN8c47sWiDvbvnLoz9w4Li2d6a6iimZsPpwgl7drvQ==
